<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PP4VHRG');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="portfolio, Ogurinka Benjamin, Tammy, simplytammy simply tammy">
    <meta name="description" content=" I started my journey as a Front End Developer in February 2018 and since then I've been able to
                  learn a lot and grow myself.
                  I code for fun and I build cool stuff as a hobby. Pay attention to best practices known to me
                  and I'm always open to learn new things and take on challenging paths.">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ogurinka Benjamin :. Portfolio </title>
    <!--Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/icons//ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="assets/fontawesome/css/all.min.css">
    <!--Devicons-->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <!-- Bootstrap core CSS -->
    <link href="assets/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="assets/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <!--  Custom styles-->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>

<body id="home">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PP4VHRG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div id="loader"></div>
            </div>
        </div>
    </div>



    <div id="vueInit" style="display:none;">
        <header class="navbar navbar-expand-md fixed-top scrolling-navbar">
            <div class="container">
                <span class="navbar-brand">
                    <img src="https://res.cloudinary.com/simplytammy/image/upload/v1545696133/santa-hat_1.png" id="xmas" />
                    <a href="#home" class="scroll"> <i class="fa fa-code" style="color:#FFF;"></i> </a>
                </span>
                <span class="navbar-brand" style="float:right">
                    <a href="https://api.whatsapp.com/send?1=pt_BR&phone=2349022618844" target="_blank" class="btn btn-sm btn-hi  pulse">say
                        hello</a>
                </span>
            </div>
        </header>

        <div id="hero">
            <div class="home">
                <div class="square">
                </div>
                <div class="intro">
                    <h1 class="text-white first">Ogurinka <strong class="name">Benjamin</strong></h1>
                    <p class="sub pulse">
                        &lt; / <span>Front End Developer </span> &gt;
                    </p>


                </div>
                <div class="mouse"></div>
                <div class="arrow-scroll">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="intro-img">
                <img src="https://res.cloudinary.com/simplytammy/image/upload/v1545621534/154562081970861148.png" alt="Intro image"
                    style="width: 100%;" />
            </div>
        </div>
        <section id="about" class="main-bg">
            <div class="container">
            </div>
            <div class="center">
                <div class="quote">
                    <img src="https://res.cloudinary.com/simplytammy/image/upload/v1545359542/quote.png" alt="Quotes"
                        style="width: 50%;">
                </div>
                <div class="about-heading">
                    <div class="spin">
                    </div>
                    <h1>Hi there,</h1>
                    <p> my journey as a Front End Developer in February 2018 and since then I've been able to
                        learn a lot and grow myself.
                        I code for fun and I build cool stuff as a hobby. Pay attention to best practices known to me
                        and I'm always open to learn new things and take on challenging paths.
                    </p>
                    <p>Apart from web developement, I also pay attention to AI and IoT and also spend my free time
                        doing other geeky stuff.</p>
                    <a href="https://about.me/ogurinkabenjamin/" target="_blank" class="pulse-button btn btn-sm pulse">Know
                        more <i class="fa fa-arrow-right right-arrow"></i></a>
                    <div class="triangle float"></div>
                    <p></p>
                </div>
            </div>
        </section>
        <section id="do-section" class="container">
            <div class="shapes-bg float">
                <div class="hr">
                    <hr class="cir">
                    <hr class="sq">
                    <hr class="rect">
                </div>
            </div>
            <div class="do-heading center">
                <h2>What do I do <span style="color: #07374a;"> Exactly ?</span></h2>
            </div>
            <div class="row">
                <div class="col-md-6 do do-1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="do-img">
                                <img src="https://res.cloudinary.com/simplytammy/image/upload/v1544975493/design.jpg"
                                    alt="Web design">
                            </div>
                        </div>
                        <div class="col-md-8 wow fadeInLeft">
                            <div class="do-text">
                                <h1>I design websites</h1>
                                <p>Well, being a Front End Developer means I take responsibility for the design and
                                    feel of web pages,
                                    from a beautiful UI (User Interface) to awesome UX (User Experience). Also make
                                    sure that websites easily adapt to any
                                    device.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 do do-2 wow fadeInRight">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="do-img">
                                <img src="https://res.cloudinary.com/simplytammy/image/upload/v1545214827/seo.jpg" alt="SEO">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="do-text">
                                <h1>SEO</h1>
                                <p>Everyone wants their websites to be easily found on the internet and I pay attention
                                    to best practices that ensure this
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 do do-3 wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="do-img">
                                <img src="https://res.cloudinary.com/simplytammy/image/upload/v1545214827/app.jpg" alt="Web application">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="do-text">
                                <h1>Single Page Applications (SPAs)</h1>
                                <p>Away from design, I also build simple, sleek, fast and interactive applications that
                                    run fine anywhere on the web. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 do do-4 wow fadeInRight">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="do-img">
                                <img src="https://res.cloudinary.com/simplytammy/image/upload/v1545214827/performance.jpg"
                                    alt="Website performance">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="do-text">
                                <h1>Site Performance</h1>
                                <p>I ensure websites/applications have all the super powers they need to run smoothly.
                                    High performance is also something I find important and I make sure it stays at its
                                    highest.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 do do-5 wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="do-img">
                                <img src="https://res.cloudinary.com/simplytammy/image/upload/v1544968316/webdev.jpg">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="do-text">
                                <h1>Developement</h1>
                                <p>I just don't leave sites lying around, I check every now and then for new upgrades
                                    and new technologies to make them even better as well as
                                    improve their awesome designs
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 do do-6 wow fadeInRight">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="do-img">
                                <img src="https://res.cloudinary.com/simplytammy/image/upload/v1545214827/maintainance.jpg"
                                    alt="Website maintainance">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="do-text">
                                <h1>Maintainance</h1>
                                <p>I ensure that sites are well maintained and any bugs reported are quickly fixed.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tools">
                <div class="row">
                    <div class="col-md-4 tool-set wow fadeInDown">

                        <div class="mycard">
                            <h1>Languages I speak</h1>
                            <i class="fa-2x devicon-html5-plain-wordmark colored"></i>
                            <i class="fa-2x devicon-css3-plain-wordmark colored"></i>
                            <i class="fa-2x devicon-javascript-plain colored"></i>
                            <i class="fa-2x devicon-sass-original colored"></i>
                        </div>
                    </div>
                    <div class="col-md-4 tool-set wow fadeIn">
                        <div class="mycard">
                            <h1>Libraries and Frameworks</h1>
                            <i class="fa-2x devicon-bootstrap-plain colored"></i>
                            <i class="fa-2x devicon-jquery-plain-wordmark colored"></i>
                            <i class="fa-2x devicon-vuejs-plain-wordmark colored"></i>

                        </div>
                    </div>
                    <div class="col-md-4 tool-set wow fadeInUp">
                        <div class="mycard">
                            <h1>Dev Tools</h1>
                            <i class="fa-2x devicon-visualstudio-plain" style="color:#0059b3;"></i>
                            <i class="fa-2x devicon-git-plain colored"></i>
                            <i class="fa-2x devicon-github-plain-wordmark colored"></i>
                            <i class="fa-2x devicon-gitlab-plain-wordmark colored"></i>



                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio">

            <div class="portfolio-heading">
                <h1>My Recent Work</h1>
                <p>Want to see more? <a href="mailto:ogurinkabenjamin@gmail.com">Email me <i class="fa fa-fw fa-envelope"></i></a></p>
            </div>
            <div class="row">
                <div class="col-md-4">

                    <div class="wrapper">
                        <div class="outer wow fadeInLeft studpadi" style="background:#ddd">
                            <div class="content">
                                <div class="info">
                                    <img src="https://res.cloudinary.com/simplytammy/image/upload/v1545418622/studentpady.png"
                                        alt="studentpady">

                                </div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <div class="btn-portfolio center">
                                            <p>studentpady is a mobile app that helps you hire professional &
                                                well-trained service men you can trust and afford.</p>
                                            <a href="http://studentpady.com.ng" target="_blank" class="btn btn-sm btn-details">preview
                                                <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="wrapper">
                        <div class="outer wow fadeIn">
                            <div class="content">
                                <div class="info">
                                    <h1>Q &amp; A app</h1>
                                </div>

                                <div class="overlay">
                                    <div class="overlay-content">
                                        <div class="btn-portfolio center">
                                                <p>Elegant and free conference Q&amp; A app</p>
                                            <button type="button" class="btn btn-sm btn-details" disabled>preview unavailable <i class="fa fa-eye"></i></button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-md-4">
                    <div class="wrapper">
                        <div class="outer wow fadeIn passwordgen">
                            <div class="content">
                                <div class="info">
                                    <h1>Password Generator</h1>
                                </div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <div class="btn-portfolio center">
                                                <p>Tool to help you generate secure and hard to crack passwords</p>
                                                <a href="http://vuepassword.netlify.com/" target="_blank"  class="btn btn-sm btn-details" disabled>preview <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-4">
                    <div class="wrapper">
                        <div class="outer wow fadeInUp myportfolio" style="background:#236B8E">
                            <div class="content">
                                <div class="info">
                                    <img src="https://res.cloudinary.com/simplytammy/image/upload/v1545501944/pwa.png"
                                        alt="pwa-boilerplate" style="width:45%;">
                                </div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <div class="btn-portfolio center">
                                            <p>This is a basic boilerplate to get you up and running with pwa features
                                                on your static websites</p>
                                            <a href="pwa-boilerplate" target="_blank" class="btn btn-sm btn-details">preview
                                                <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wrapper">
                        <div class="outer wow fadeInRight chrome" style="background:#48a898;">
                            <div class="content">
                                <div class="info">
                                    <img src="https://connectedover.com/images/chrome01.png" alt="chrome desktop" style="width:50%;">
                                </div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <div class="btn-portfolio center">
                                            <p>A chrome extension that gives a different unique view to your browser
                                                start screen</p>
                                            <a href="https://chrome.google.com/webstore/detail/cool-chrome-landing-page/ppaclombkbeigpmhdlkhdmdolmgjnndl"
                                                target="_blank" class="btn btn-sm btn-details">preview <i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="wrapper">
                        <div class="outer wow fadeIn bitcoin">
                            <div class="content">
                                <div class="info">
                                    <h1>Mini Bitcoin Converter</h1>
                                </div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <div class="btn-portfolio center">
                                                <p>A lightweight web app that converts Bitcoin to 8 different currencies</p>
                                            <button disabled class="btn btn-sm btn-details">preview unavailable <i class="fa fa-eye"></i></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- Modal -->
            <div class="modal fade bottom" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true" style="z-index:9999999999;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="font-size:50px; color:#8E2323;">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="">

                                <h5 class="card-header white-text text-center py-4" style="background:#07374a;">
                                    <strong>Let's build something amazing together</strong>
                                </h5>
                                <div class="card-body px-lg-5 pt-0">
                                    <form accept-charset="UTF-8" action="https://usebasin.com/f/0f8bb37918ea" method="POST"
                                        class="text-center" style="color: #757575;">
                                        <div class="md-form mt-3">
                                            <input type="text" name="name" id="projectName" class="form-control" required>
                                            <label for="projectName">Name</label>
                                        </div>
                                        <div class="md-form">
                                            <input type="email" name="email" id="projectEmail" class="form-control" required>
                                            <label for="projectEmail">E-mail</label>
                                        </div>
                                        <span style="float: left; margin-bottom:5px;">Project type</span>
                                        <select class="mdb-select form-control" name="project">
                                            <option value="" disabled>Choose option</option>
                                            <option value="Landing Page" selected>Landing Page</option>
                                            <option value="Web App">Web App</option>
                                            <option value="Website UI/UX">Website UI/UX</option>
                                            <option value="SEO">SEO</option>#
                                            <option value="Other">Other</option>
                                        </select>
                                        <div class="md-form">
                                            <textarea type="text" name="description" id="description" class="form-control md-textarea"
                                                rows="3" required></textarea>
                                            <label for="description">Please describe your project</label>
                                        </div>
                                        <button class="btn btn-submit" type="submit" data-dismiss="modal">Send</button>

                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-footer row">
                <div class="col-md-8 pf-text pt-3">
                    <h3>Want to bring me on board your new project?</h3>

                </div>
                <div class="col-md-4">
                    <button class="btn btn-lg pf-btn" type="button" data-toggle="modal" data-target="#projectModal">Let's
                        do this</button>
                </div>


            </div>
        </section>
        <section class="testimonial-section">
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <div class="row text-center">
                <div class="col-md-12">
                    <p class="testim-quote">,,</p>
                    <div class="h2">People say nice things about me</div>
                </div>
            </div>
            <div id="testim" class="testim">

                <div class="wrap">

                    <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                    <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                    <ul id="testim-dots" class="mydots text-center">
                        <li class="dot active"></li>
                        <li class="dot"></li>
                        <li class="dot"></li>
                        <li class="dot"></li>
                        <li class="dot"></li>
                    </ul>
                    <div id="testim-content" class="cont">
                        <div>
                            <div class="img"><img src="https://res.cloudinary.com/simplytammy/image/upload/v1545266380/vderek.jpg"
                                    alt="Vinebo Derek"></div>
                            <div class="h4">Vinebo Derek <br> <span class="role">Operations Manager/Developer @ Uniract</span></div>

                            <p>Diligent and hardworking. Understands the importance of continous trial and never backs
                                down from
                                an assignment and I think this is the greatest strength of a developer.
                            </p>
                        </div>
                        <div>
                            <div class="img"><img src="https://res.cloudinary.com/simplytammy/image/upload/v1545266046/kluivert.jpg"
                                    alt="Ed Kluivert"></div>
                            <div class="h4">Ed. Kluivert <br> <span class="role">Mobile app Developer</span></div>
                            <p>
                                Tammy is a great Front End Developer. If there're things I've noticed about him, it's
                                the way he learns
                                so quickly, always open to new ideas and gives the best in building websites.
                            </p>
                        </div>

                        <div class="active">
                            <div class="img"><img src="https://res.cloudinary.com/simplytammy/image/upload/v1545266559/grant.jpg"
                                    alt="Grant"></div>
                            <div class="h4">Grant <br> <span class="role">COO, Olete</span></div>
                            <p>
                                With the rapid advancement in technology and its accompanying radical permeation these
                                recent years birthing what
                                Professor Klaus Schwab describes as the Fourth Industrial Revolution, pivotal to the
                                inclusion of the African narrative
                                in this emergent epoch is optimized tech skills and Benjamin epitomizes just the right
                                expertise required of critical
                                players in today’s tech space. He possesses first-rate work ethic and a mad enthusiasm
                                for web and application
                                development. He literally lives and breathes his work. He is as well an avid learner
                                who prioritizes excellence and has
                                enshrined in his MO a huge dose of professionalism. Based on my professional
                                relationship with him, I will
                                unequivocally rank him among the top-rated techies I have personally encountered.
                            </p>
                        </div>

                        <div>
                            <div class="img"><img src="https://res.cloudinary.com/simplytammy/image/upload/v1545266796/dozie.jpg"
                                    alt="Anyanwu Nnadozie"></div>
                            <div class="h4">Anyanwu Nnadozie<br> <span class="role">CEO/Cofounder <strong>studentpady</strong></span></div>
                            <p>
                                He's an embodiment of a good listener, good receptor and swift accessibility, just to
                                mention a few.
                                He provided us with web development services and we rated his service: above average.
                                We're glad we gave him the contract.
                            </p>
                        </div>
                        <div>
                            <div class="img"><img src="https://res.cloudinary.com/simplytammy/image/upload/v1545412659/kelvin.jpg"
                                    alt="Kelvin Gobo"></div>
                            <div class="h4">Kelvin Gobo <br><span class="role">Front End Developer @ SprintHub</span></div>
                            <p>
                                One of the quotes Facebook is known for is "move fast, break things." Ever since we
                                met, Benjamin has practiced this.
                                Always experimenting with something new, always learning. Anytime we meet, he has
                                learnt something new.
                                With best practices and tools updated frequently, you need to move quickly in the field
                                of software development to thrive.
                                And I believe Benjamin is on the path to doing just that.
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </section>

        <section class="container" id="contact">

            <div class="form-holder" style="border-left:2px solid #48a898">

                <div class="container contact-form wow fadeIn">
                    <form method="POST" action="https://usebasin.com/f/0f8bb37918ea " @submit="checkForm">
                        <h3 style="color:#07374a;">Drop me a message</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="fullname" class="form-control" placeholder="Your Name *"
                                        value="" v-model="name" />
                                    <p v-if="nameError" class="text-danger">{{nameError}}</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" class="form-control" placeholder="Your Email *"
                                        value="" v-model="email" />
                                    <p v-if="emailError" class="text-danger">{{emailError}}</p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phoneno" class="form-control" placeholder="Your Phone Number (Optional)"
                                        value="" v-model="phone" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"
                                        id="textarea" v-model="msg"></textarea>
                                    <p v-if="msgError" class="text-danger">{{msgError}}</p>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-sm btn-submit" type="submit" class="btnContact" value="Send Message" />
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

        </section>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <footer class="">
            <div class="container-fluid py-3">
                <div class="container">
                    <div class="py-3">
                        <div class="text-center">
                            <div class="container">
                                <p><i class="fa fa-envelope"></i> <br> ogurinkabenjamin@gmail.com </p>
                                <p><i class="fa fa-mobile"></i> <br> +234 902 261 8844</p>
                                <br>
                            </div>
                            <div class="d-inline-block text-center footer-holder">

                                <a href="https://www.facebook.com/ogb.tammy" class="footer-link" target="_blank"
                                    data-toggle="tooltip" title="Facebook" data-placement="bottom">
                                    <i class="fab fa-fw fa-facebook"></i>
                                </a>

                                <a href="https://twitter.com/_simplytammy" class=" footer-link" target="_blank"
                                    data-toggle="tooltip" title="Twitter" data-placement="bottom">
                                    <i class="fab  fa-fw fa-twitter"></i></a>

                                <a href="https://www.github.com/simplytammy" class=" footer-link" target="_blank"
                                    data-toggle="tooltip" title="Github" data-placement="bottom">
                                    <i class="fab  fa-fw fa-github-alt"></i></a>

                                <a href="https://www.instagram.com/ogurinkabenjamin" class=" footer-link" target="_blank"
                                    data-toggle="tooltip" title="Instagram" data-placement="bottom">
                                    <i class="fab  fa-fw fa-instagram"></i></a>
                                <br>
                                <p class=" copyright">Made with <i class="fa fa-fw fa-code"></i> and <i class="fa fa-music"></i><br><br>
                                    &copy; 2018</p>
                                <br>
                                <div class="hexagon float center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a class="scroll" id="top" href="#home"><i class="fa fa-arrow-up text-white bounce"></i> </a>
    </div>
    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="assets/mdbootstrap/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="assets/mdbootstrap/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="assets/mdbootstrap/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="assets/mdbootstrap/js/mdb.min.js"></script>

    <!--Vue.js cdn-->
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript">
        if (navigator.serviceWorker.controller) {
            console.log('[My PWA] active service worker found, no need to register')
        } else {
            navigator.serviceWorker.register('sw.js', {
                scope: './'
            }).then(function (reg) {
                console.log('Service worker has been registered for scope:' + reg.scope);
            });
        }
        // Animations init
        wow = new WOW({
            boxClass: 'wow', // default
            animateClass: 'wow', // default
            offset: 0, // default
            mobile: true, // default
            live: true // default
        })
        wow.init();
    </script>

</body>

</html>