    :root {
     --bg_default: #151618;
     --color_default: rgb(23, 191, 99) !important;
    }

    * {
     background: transparent;
     font-family: 'Poppins', sans-serif;
    }

    html,
    body {
     -o-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif !important;
     color: #fff;
     background: var(--bg_default);
     cursor: default;
     padding: 0;
     margin: 0;
     transition: 0.9s ease-in-out;
    }

    .fade-enter-active,
    .fade-leave-active {
     transition: opacity 0.3s
    }

    .fade-enter,
    .fade-leave-active {
     opacity: 0
    }


    .nav {
     margin: 0;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     background: #141413;
     opacity: 1;
     z-index: 10000;
     padding: 1rem 0;

    }

    .pagination {
     padding: 10px;
     margin: 5px;
     border-radius: 2px;
     transition: 0.6s ease;
     display: inline-block;
     font-size: 14px;
     border-bottom: 2px solid transparent;
    }

    .og_button {

     color: rgb(23, 191, 99);
     padding: 12px 33px;
     text-decoration: none;
     background: inherit;
     transition: 0.8s ease;
     box-shadow: 0 4px 30px rgb(23, 191, 99, 0.12);
     border-radius: 3rem;
    }

    .og_button:hover {
     background: rgb(23, 191, 99);
     color: #fff;
    }

    .inTouch {
     min-height: 80px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     width: 100%;
     bottom: 0;
     left: 0;
     background: #141413;
     opacity: 1;
     z-index: 10000;
     display: none;
    }

    .router-link-exact-active,
    .pagination:hover {
     border-bottom: 2px solid rgb(23, 191, 99);
     color: #fff;
    }

    body.dark {
     background: #151618 !important;
     color: #f1f1f1 !important;
    }

    body.light {
     background: #f1f1f1 !important;
     color: #151618 !important;
    }

    a {
     color: var(--color_default);
     text-decoration: none;
    }

    a:focus {
     outline: none;
    }

    #toggle {
     transition: 0.8s ease-in-out;
     cursor: pointer;
     color: white !important;

    }

    @media (max-width:744px) {

     html,
     body {
      height: auto;
     }
    }

    @-webkit-keyframes fadeIn {
     from {
      opacity: 0;
     }

     to {
      opacity: 1;
     }
    }

    @-moz-keyframes fadeIn {
     from {
      opacity: 0;
     }

     to {
      opacity: 1;
     }
    }

    @keyframes fadeIn {
     from {
      opacity: 0;
     }

     to {
      opacity: 1;
     }
    }

    @keyframes shake {

     10%,
     90% {
      transform: rotate(1deg);
     }

     20%,
     80% {
      transform: rotate(2deg);
     }

     30%,
     50%,
     70% {
      transform: rotate(-1deg);
     }

     40%,
     60% {
      transform: rotate(-2deg);
     }
    }

    .fade-in {
     opacity: 0;
     -webkit-animation: fadeIn ease-in 1;
     -moz-animation: fadeIn ease-in 1;
     animation: fadeIn ease-in 1;
     -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
     -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
     animation-duration: 1s;
    }

    @-webkit-keyframes blinker {
     from {
      opacity: 1.0;
     }

     to {
      opacity: 0.0;
     }
    }

    .blink {
     text-decoration: blink;
     -webkit-animation-name: blinker;
     -webkit-animation-duration: 0.6s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-animation-direction: alternate;
     color: var(--color_default);
    }

    img {
     width: 100%;
    }

    .redColor {
     color: #ad1a30;
    }

    .purpleColor {
     color: #c72cc9;
    }

    .fa-sun {
     color: #FDB813;
    }

    .fa-moon {
     color: #555;
    }

    .intro {
     width: 50%;
     margin: 0 auto;
    }

    .intro a {
     font-size: 16px;
    }

    @media screen and (max-width: 764px) {

     .intro {
      width: 90%;
      margin: 0 auto;
     }
    }

    .tag {
     font-size: 12px;
     background: #25282c;
     color: #ccc;
     padding: 4px 8px;
     border-radius: 1em;
     line-height: 1;
    }

    .og_container {
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 1em;
    }

    .og_container .wrapper {
     width: 60%;
     text-align: center;
    }

    .og_container .wrapper .home i {
     color: #fff !important;
     z-index: 999;
    }

    .portfolio_area {
     padding: 2em 0;
    }

    .row {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 100%;
    }

    .column {
     display: flex;
     flex-direction: column;
     flex-basis: 100%;
     flex: 1;
     padding: 20px;
    }

    .og_container .wrapper h1 {
     font-size: 36px;
     color: var(--color_default);
    }

    .og_container .wrapper p {
     font-size: 18px;
    }

    .og-quick-contact-holder {
     padding: 2em 0;
     margin: 1em auto;
     text-align: center;
    }

    .portfolio_item {
     position: relative;
     box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.23);
     border-radius: 20px !important;
     margin: 10px auto;
     min-height: 300px;
     transition: all 0.5s ease;
     cursor: pointer;
     padding: 2rem 0;
     width: 100%;
    }

    .portfolio_item:hover {
     box-shadow: 10px 10px 0 rgb(23, 191, 99, 0.5);
     animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
     transform: translate3d(0, 0, 0);
     perspective: 1000px;
     background: rgba(21, 22, 24, 1);
     background: -moz-linear-gradient(-45deg, rgba(21, 22, 24, 1) 0%, rgba(21, 22, 24, 1) 94%, rgba(24, 191, 99, 1) 95%, rgba(24, 191, 99, 1) 96%, rgba(24, 191, 99, 1) 100%);
     background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(21, 22, 24, 1)), color-stop(94%, rgba(21, 22, 24, 1)), color-stop(95%, rgba(24, 191, 99, 1)), color-stop(96%, rgba(24, 191, 99, 1)), color-stop(100%, rgba(24, 191, 99, 1)));
     background: -webkit-linear-gradient(-45deg, rgba(21, 22, 24, 1) 0%, rgba(21, 22, 24, 1) 94%, rgba(24, 191, 99, 1) 95%, rgba(24, 191, 99, 1) 96%, rgba(24, 191, 99, 1) 100%);
     background: -o-linear-gradient(-45deg, rgba(21, 22, 24, 1) 0%, rgba(21, 22, 24, 1) 94%, rgba(24, 191, 99, 1) 95%, rgba(24, 191, 99, 1) 96%, rgba(24, 191, 99, 1) 100%);
     background: -ms-linear-gradient(-45deg, rgba(21, 22, 24, 1) 0%, rgba(21, 22, 24, 1) 94%, rgba(24, 191, 99, 1) 95%, rgba(24, 191, 99, 1) 96%, rgba(24, 191, 99, 1) 100%);
     background: linear-gradient(135deg, rgba(21, 22, 24, 1) 0%, rgba(21, 22, 24, 1) 94%, rgba(24, 191, 99, 1) 95%, rgba(24, 191, 99, 1) 96%, rgba(24, 191, 99, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#151618', endColorstr='#18bf63', GradientType=1);
    }

    .portfolio_item .portfolio_item_desc {
     padding: 1em;
     border-radius: 20px;
    }

    .portfolio_item .portfolio_item_desc .title {
     font-size: 24px;
     color: var(--color_default);
    }

    .portfolio_item .portfolio_item_desc .desc {
     font-size: 16px;
     color: #5f646d;
    }

    .preview {
     width: 100%;
     text-align: center;
     border-radius: 20px;
     padding: 1em 0;
    }

    .preview_btn {
     padding: 14px 16px;
     color: #fff;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.23);
     background: #25282c;
     font-size: 15px;
     text-decoration: none;
     border-radius: 4px;
    }

    .design_card {
     padding: 0;
     padding-bottom: 20px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.13);
     min-height: 250px;
     display: flex;
     align-items: center;
     text-align: center;
     margin: 20px auto;
     border-radius: 20px;
     transition: all 0.5s ease;
    }

    .design_card:hover {
     box-shadow: 0 10px 50px rgba(0, 0, 0, 0.13);
    }

    .design_card .img img {
     width: 100%;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
    }

    .design_card .content {
     padding: 10px;
    }

    .design_card .content h1 {
     font-size: 24px;
    }

    .design_card .content p {
     font-size: 16px;
     color: #5f646d;
    }

    .og-quick-contact-link {
     font-size: 18px;
     z-index: 99999;
     padding: 10px 12px;
     margin: 1rem auto;
     border-radius: 50%;
     margin-bottom: 30px;
     text-align: center;
     color: inherit;
    }

    .og-quick-contact-link:hover {
     color: var(--color_default);
     -webkit-transition: .6s;
     transition: .6s;
    }

    .portfolio_nav {
     display: block;
     padding: 0 2rem;
    }

    .top_nav {
     display: block;
     padding: 1em 0;
     text-align: center;
    }

    .top_nav .brand {
     margin-bottom: 1rem;
     text-align: center;
    }

    .top_nav .brand span {
     display: inline;
    }

    .menu-overlay {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.9);
     overflow-x: hidden;
     transition: 0.5s;
    }

    .menu-overlay-content {
     position: relative;
     top: 25%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
     background: transparent !important;
    }

    .menu-overlay a {
     padding: 8px;
     text-decoration: none;
     font-size: 30px;
     display: block;
     transition: 0.3s;
     background: transparent !important;
    }

    .menu-overlay a:hover,
    .menu-overlay a:focus {
     color: #f1f1f1;
    }

    .menu-overlay .closebtn {
     position: absolute;
     top: 20px;
     right: 45px;
     font-size: 60px;
    }

    .top_nav .menuToggle {
     padding: 5px 15px 0 15px;
     border: 2px solid var(--color_default);
     display: none;
    }

    .copyright {
     margin: 2em 0;
    }

    .copyright p {
     font-size: 16px;
     color: inherit;
    }

    @media screen and (max-width: 950px) {
     .top_nav {
      padding: 0.55rem 0;
      text-align: center;
     }

     .og_container {
      padding: 0.35em;
     }

     .og_container .wrapper {
      width: 100%;
     }

     .og_container .wrapper h1 {
      font-size: 24px;
     }

     .og_container .wrapper p {
      font-size: 16px;
      margin-bottom: 1.5rem;
     }

     .og-quick-contact-link {
      font-size: 14px;
      z-index: 99999;
      padding: 10px 12px;
      margin: 1rem auto;
      border-radius: 50%;
      margin-bottom: 30px;
      text-align: center;
     }

     .row {
      display: block;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
     }

     .column {
      padding: 5px;
     }

     .portfolio_item {
      min-height: 100px;
      margin: 20px auto;
     }

     .portfolio_item .preview {
      position: relative;
     }

     .portfolio_nav {
      display: block;
      padding: 1rem 1rem;
     }

     .top_nav .menu {
      display: none;
     }

     .top_nav .menuToggle {
      display: block;
     }

     /*   .nav {
      position: relative;
      top: unset;
     }*/

     .pagination {
      display: inline;
     }
    }