
/* ======= General stuff =========== */
html,
body {
  margin: 0;
  padding: 0;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Space Mono', monospace !important;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }
}
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(https://res.cloudinary.com/simplytammy/image/upload/v1544792773/bg.png) repeat;
  background-color: #07374a;
}


/*======== Intro ======== */
.intro {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  padding: 10px 14px;
  font-weight: 100;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}


.intro .greet {
  font-size: 20px;
  margin-left: -20px;
  font-weight: 600;
}

.intro .first {
  font-size: 80px;
}

.head span {
  font-weight: 900;
}

.name {
  font-weight: 900;
}

.sub {
  margin-top: 0px;
  font-weight: 900;
  color: #48a898;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .intro {
    width:100%;
  }
  .intro .first {
    font-size: 46px;
  }
  .sub {
    margin-top: 8px;
    font-weight: 900;
    text-align: center;
    color: #48a898;
    font-size: 16px;
    line-height: 1.5em;
  }
}


/*========== Footer =======*/
footer {
  background: #07374a;
  background: -webkit-gradient(linear, left bottom, left top, from(#07374a), to(#07374a));
  background: linear-gradient(to top, #07374a, #07374a);
  color: #FFF;
  font-weight: 200;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 15%;
}

@media screen and (max-width: 600px) {
  footer {
    padding-top: 20%;
    z-index: 1;
  }
}

.footer-holder {
  margin-bottom: 90px;
}

 .footer-link {
  font-size: 20px;
  height: 50px;
  width: 50px;
  z-index: 99999;
  border: 1px solid #FFF;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 30px;
  color: #FFF;
}

.footer-link:hover {
  opacity: .7;
  background: #48a898;
  color: #FFF;
  -webkit-transition: .6s;
  transition: .6s;
}
