
#particles-js {
  position: relative;
  width: 100%;
  height:70vh;
  background:url(https://res.cloudinary.com/simplytammy/image/upload/v1544792773/bg.png) repeat;
  background-color: #222;
}

canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.home{
  position: absolute;
  width: 100%;
  height: 100%;
}
